<nav class="navbar">
  <div class="logo">
  <h3>ğ•¤ğ•™ğ•šğ•§ğ•’ â„•ğ•’ğ•Ÿğ••ğ•š ğ•‹ğ•£ğ•’ğ•§ğ•–ğ•ğ•¤</h3>
</div>

  <button class="menu-icon" id="menu-icon">&#9776;</button>
  <ul class="nav-links" id="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li class="dropdown">
      <a href="#">Tour Packages & Places â–¾</a>
      <ul class="dropdown-menu">
        <li><a href="/mysore">Mysore</a></li>
        <li><a href="/coorg">Coorg</a></li>
        <li><a href="/chikmagalur">Chikkamagalur</a></li>
        <li><a href="/shivamogga">Shivamogga</a></li>
        <li><a href="/crn">Chamarajanagara</a></li>
        <li><a href="/mangalore">Mangalore</a></li>
        <li><a href="/udupi">Udupi</a></li>
        <li><a href="/vijayanagar">Vijayanagar</a></li>
      </ul>
    </li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>


<script>
    const menuIcon = document.getElementById('menu-icon');
    const navLinks = document.getElementById('nav-links');

    menuIcon.addEventListener('click', () => {
      navLinks.classList.toggle('show');
    });
  </script>